<ion-header>
  <ion-toolbar>
    <ion-title>Main page - Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="padding-left: 20px">
  <div style="padding-bottom: 20px">
    <ion-button size="small" (click)="logoutUser()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-label style="padding-left: 10px" position="stacked">Tokens from storage: </ion-label>
  <ion-item style="padding: 30px 0; height: 100px !important;">
    <ion-label position="stacked">Access Token: </ion-label>
    <ion-textarea style="height: 100px !important;" disabled readonly [(ngModel)]="accessTokenValue"></ion-textarea>
  </ion-item>
  <ion-item style="padding: 30px 0; height: 100px !important;">
    <ion-label position="stacked">Refresh Token: </ion-label>
    <ion-textarea disabled readonly [(ngModel)]="refreshTokenValue"></ion-textarea>
  </ion-item>
  <div style="display: flex; flex-direction: column">
    <a style="text-decoration-line: none; padding: 5px 0;" [routerLink]="['/native-storage-example']">Use native storage</a>
    <a style="text-decoration-line: none; padding: 5px 0;" [routerLink]="['/cordova-file-plugin']">Use file plugin</a>
  </div>
</ion-content>
